/* html {
    scroll-behavior: smooth;
} */


.profil-img {
    width: 200px;
    height: 200px;
    border: 5px solid;
    border-color: grey ;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    
}
hr.divider {
    width: 250px;
    height: 4px;
    color: black;
    background-color: black;
    margin: 10px auto 30px auto;
    border: none;
    border-radius: 5px;
}

/* .scroll-animation {
    opacity: 100;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.scroll-animation.show {
    opacity: 1;
    transform: translateY(0);
} */


.navbar-custom {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px); 
}
section {
    scroll-margin-top: 80px;
    min-height: 600px;
}

.body {
    padding-top: 70px;
}

.port-img   {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 3px solid #ffffff;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-thumbnail:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.3);
}

.portfolio-img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease;
    cursor: pointer;
}

.portfolio-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.row.g-4{
    --bs-gutter-y:1.5rem;
}

.portfolio .container {
    max-width: 1000px;
    margin: auto;
}